$body-font-family: 'Inter', sans-serif !default;

.v-application {
  font-family: $body-font-family !important;
}

h1, h2, h3, h4, h5, h6, .text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6 {
  font-family: $body-font-family !important;
}
